certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
instagrapi==2.0.0
instaloader==4.10.1
Pillow==10.1.0
pycodestyle==2.11.1
pycryptodomex==3.18.0
pydantic==1.10.9
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.31.0
tomli==2.0.1
typing_extensions==4.8.0
urllib3==2.1.0
